.hero .pagetitle{
    background:#95BF17;
    background-color:rgba(149,192,23,0.8);
}


#carousel-buttons {
    top:30px;

    margin-bottom:-80px;
    position:relative;
    height:40px;
    z-index:1000;
    float:right;
    text-align:right;
}

#carousel-buttons a{
    margin-right:10px;
    background-color:white;
    display:inline-block;
    border-radius:10px;
    width:20px;
    height:20px;
}
#carousel-buttons a.current {
    background-color:#95bf17;
}


