
.login {
    background-color:#bddc36;
    padding:5px 0px;

    text-align:center;
}
.login a {
    position:relative;
    display:block;
    color:#232d08;
    line-height:1.5em;
    text-decoration:none;
}

.search, .lang {
    padding-top:35px;
}
.search {

    text-align:right;
}
.search input {
    width:92%;
    padding:4px 4%;
    margin-right:-15px;

}
.search a {
    left:-5px;
    top:-4px;
    position:relative;
}

.lang {
    text-align:center;
}
.lang a {
    padding:5px 10px;
    font-size:0.8em;
}

.topmenu {
    text-align:center;
    margin:6px 0px;
}
.topmenu li{
    width:122px;
    text-align:center;
    display:inline;
    padding:5px 10px;
    margin:2px;
    border-top-right-radius:3px;
    border-top-left-radius:3px;

    color:white;
    font-weight:bold;
    background: #e00000; /* Old browsers */
    background: -moz-linear-gradient(top, #e00000 0%, #e00001 37%, #db0100 53%, #c20001 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e00000), color-stop(37%,#e00001), color-stop(53%,#db0100), color-stop(100%,#c20001)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #e00000 0%,#e00001 37%,#db0100 53%,#c20001 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #e00000 0%,#e00001 37%,#db0100 53%,#c20001 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #e00000 0%,#e00001 37%,#db0100 53%,#c20001 100%); /* IE10+ */
    background: linear-gradient(to bottom, #e00000 0%,#e00001 37%,#db0100 53%,#c20001 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e00000', endColorstr='#c20001',GradientType=0 ); /* IE6-9 */

}

.topmenu .toggle{
    display:none;
    color:white;
    font-weight:bold;
    background: #e00000; /* Old browsers */
    background: -moz-linear-gradient(top, #e00000 0%, #e00001 37%, #db0100 53%, #c20001 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e00000), color-stop(37%,#e00001), color-stop(53%,#db0100), color-stop(100%,#c20001)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #e00000 0%,#e00001 37%,#db0100 53%,#c20001 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #e00000 0%,#e00001 37%,#db0100 53%,#c20001 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #e00000 0%,#e00001 37%,#db0100 53%,#c20001 100%); /* IE10+ */
    background: linear-gradient(to bottom, #e00000 0%,#e00001 37%,#db0100 53%,#c20001 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e00000', endColorstr='#c20001',GradientType=0 ); /* IE6-9 */
}
.topmenu a {
    color:white;
}
.topmenu .toggle a {

    display:block;
    background:url("/UploadedFiles/Images/Template/menuicon.png");
    background-repeat:no-repeat;
    background-position:right;
}
.hero .pagetitle{
    background-color:rgba(255,0,0,0.8);
    margin-top:-60px;
    padding:5px 20px;
    position:relative;

}
.hero .pagetitle h1 {
    text-align:right;
    color:white;
    font-size:24px;
    font-weight:normal;
    line-height:36px;
}

.main {
    margin-top:20px;
}

.main h2 {
    font-size:24px;
    font-weight:normal;
    line-height:36px;
    margin-bottom:20px;

}

.main p {
    text-align:justify;
    font-size:17px;
    word-spacing:3px;
    line-height:25px;
}






ul.navigation {
    background: #d6d6d6; /* Old browsers */
    background: -moz-linear-gradient(top, #d6d6d6 0%, #d8d8d8 0%, #dadada 11%, #e2e2e2 30%, #e8e8e8 41%, #eaeaea 42%, #eaeaea 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d6d6d6), color-stop(0%,#d8d8d8), color-stop(11%,#dadada), color-stop(30%,#e2e2e2), color-stop(41%,#e8e8e8), color-stop(42%,#eaeaea), color-stop(100%,#eaeaea)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #d6d6d6 0%,#d8d8d8 0%,#dadada 11%,#e2e2e2 30%,#e8e8e8 41%,#eaeaea 42%,#eaeaea 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #d6d6d6 0%,#d8d8d8 0%,#dadada 11%,#e2e2e2 30%,#e8e8e8 41%,#eaeaea 42%,#eaeaea 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #d6d6d6 0%,#d8d8d8 0%,#dadada 11%,#e2e2e2 30%,#e8e8e8 41%,#eaeaea 42%,#eaeaea 100%); /* IE10+ */
    background: linear-gradient(to bottom, #d6d6d6 0%,#d8d8d8 0%,#dadada 11%,#e2e2e2 30%,#e8e8e8 41%,#eaeaea 42%,#eaeaea 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6d6d6', endColorstr='#eaeaea',GradientType=0 ); /* IE6-9 */


    list-style:none;
    margin:0px;
}

li.section {
    width: 15.5%;
    margin: 0px;
    display:inline-block;
    zoom:1;
    padding: 2%;
    color:#5c5c5c;
}
li.section h3{
    font-size: 22px;
    line-height: 28px;
    margin: 10px;
    font-weight: normal;
    color:#444;
}
li 
{
    font-size:11px;
    line-height:14px;
}
ul.menu ul {
    list-style:none;
    padding:0px;
    margin:0 0 0px 14px;
}
ul.menu ul li:before{

    content:"-";

}

ul.menu {
    list-style: none;
    margin-left: 10px;

}

@media (max-width: 767px){
    .login a{
        position:relative;
        display:block;
    }
    .logo {
        text-align:center;
    }
    .search, .lang {
        text-align:center;
        padding:0px;
    }
    .topmenu {
        width:100%;
        margin-left:0px;
    }
    .topmenu li {
        display:none;
        width:auto;
    }
    .topmenu .toggle{
        display:block;
        float:none;
    }
    .hero .pagetitle {
        background-color: rgba(255, 0, 0, 0.8);
        margin-top: -46px;
        padding: 2px 20px;
        position: relative;
    }
    .hero .pagetitle h1 {
        font-size:18px;
        line-height:24px;
    }


    li.section {
        width:92%;
        margin:0px 4%
        padding:0px;

    }
    li.section .menu {
        display:none;
    }
    li.section h3 {
        background-image: url("../../../Images/Template/arrow_right.png");
        background-repeat:no-repeat;
        background-position:right;
        line-height:36px;
    }
    li.section h3.open{
        background-image: url("../../../Images/Template/arrow_down.png");
    }
    li.section .menu.open {
        display:block;

    }

}
