body, p,li,td,a,h1,h2,h3,h4,h5,h6, dd, dt, div, span{
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "DejaVu Sans", "Helvetica Neue", Arial, sans-serif;
}

.blue {
background: #4e9cf2; /* Old browsers */
background: -moz-linear-gradient(top, #4e9cf2 0%, #408aed 28%, #357ce7 44%, #3179e3 47%, #3176e4 50%, #2a70e3 56%, #2b6ddf 59%, #2163db 72%, #2260db 75%, #1a57d3 88%, #164fd3 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4e9cf2), color-stop(28%,#408aed), color-stop(44%,#357ce7), color-stop(47%,#3179e3), color-stop(50%,#3176e4), color-stop(56%,#2a70e3), color-stop(59%,#2b6ddf), color-stop(72%,#2163db), color-stop(75%,#2260db), color-stop(88%,#1a57d3), color-stop(100%,#164fd3)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #4e9cf2 0%,#408aed 28%,#357ce7 44%,#3179e3 47%,#3176e4 50%,#2a70e3 56%,#2b6ddf 59%,#2163db 72%,#2260db 75%,#1a57d3 88%,#164fd3 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #4e9cf2 0%,#408aed 28%,#357ce7 44%,#3179e3 47%,#3176e4 50%,#2a70e3 56%,#2b6ddf 59%,#2163db 72%,#2260db 75%,#1a57d3 88%,#164fd3 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #4e9cf2 0%,#408aed 28%,#357ce7 44%,#3179e3 47%,#3176e4 50%,#2a70e3 56%,#2b6ddf 59%,#2163db 72%,#2260db 75%,#1a57d3 88%,#164fd3 100%); /* IE10+ */
background: linear-gradient(to bottom, #4e9cf2 0%,#408aed 28%,#357ce7 44%,#3179e3 47%,#3176e4 50%,#2a70e3 56%,#2b6ddf 59%,#2163db 72%,#2260db 75%,#1a57d3 88%,#164fd3 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4e9cf2', endColorstr='#164fd3',GradientType=0 ); /* IE6-9 */
}

.red {
    background: #e00000; /* Old browsers */
    background: -moz-linear-gradient(top, #e00000 0%, #e00001 37%, #db0100 53%, #c20001 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e00000), color-stop(37%,#e00001), color-stop(53%,#db0100), color-stop(100%,#c20001)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #e00000 0%,#e00001 37%,#db0100 53%,#c20001 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #e00000 0%,#e00001 37%,#db0100 53%,#c20001 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #e00000 0%,#e00001 37%,#db0100 53%,#c20001 100%); /* IE10+ */
    background: linear-gradient(to bottom, #e00000 0%,#e00001 37%,#db0100 53%,#c20001 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e00000', endColorstr='#c20001',GradientType=0 ); /* IE6-9 */
}

.yellow {
background: #f7ac23; /* Old browsers */
background: -moz-linear-gradient(top, #f7ac23 0%, #f7ac23 31%, #f3a922 47%, #dc9a1c 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7ac23), color-stop(31%,#f7ac23), color-stop(47%,#f3a922), color-stop(100%,#dc9a1c)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #f7ac23 0%,#f7ac23 31%,#f3a922 47%,#dc9a1c 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #f7ac23 0%,#f7ac23 31%,#f3a922 47%,#dc9a1c 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #f7ac23 0%,#f7ac23 31%,#f3a922 47%,#dc9a1c 100%); /* IE10+ */
background: linear-gradient(to bottom, #f7ac23 0%,#f7ac23 31%,#f3a922 47%,#dc9a1c 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7ac23', endColorstr='#dc9a1c',GradientType=0 ); /* IE6-9 */
}

.green {
background: #4d7f04; /* Old browsers */
background: -moz-linear-gradient(top, #4d7f04 0%, #4d8006 34%, #467604 53%, #2a5402 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4d7f04), color-stop(34%,#4d8006), color-stop(53%,#467604), color-stop(100%,#2a5402)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #4d7f04 0%,#4d8006 34%,#467604 53%,#2a5402 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #4d7f04 0%,#4d8006 34%,#467604 53%,#2a5402 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #4d7f04 0%,#4d8006 34%,#467604 53%,#2a5402 100%); /* IE10+ */
background: linear-gradient(to bottom, #4d7f04 0%,#4d8006 34%,#467604 53%,#2a5402 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d7f04', endColorstr='#2a5402',GradientType=0 ); /* IE6-9 */
}

.lime {
background: #59e144; /* Old browsers */
background: -moz-linear-gradient(top, #59e144 0%, #59e144 41%, #59dc44 56%, #5cc03f 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#59e144), color-stop(41%,#59e144), color-stop(56%,#59dc44), color-stop(100%,#5cc03f)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #59e144 0%,#59e144 41%,#59dc44 56%,#5cc03f 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #59e144 0%,#59e144 41%,#59dc44 56%,#5cc03f 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #59e144 0%,#59e144 41%,#59dc44 56%,#5cc03f 100%); /* IE10+ */
background: linear-gradient(to bottom, #59e144 0%,#59e144 41%,#59dc44 56%,#5cc03f 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#59e144', endColorstr='#5cc03f',GradientType=0 ); /* IE6-9 */
}

.purple {
background: #922bff; /* Old browsers */
background: -moz-linear-gradient(top, #922bff 0%, #922bff 34%, #8124fe 59%, #7f20fe 66%, #771dff 72%, #6213ff 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#922bff), color-stop(34%,#922bff), color-stop(59%,#8124fe), color-stop(66%,#7f20fe), color-stop(72%,#771dff), color-stop(100%,#6213ff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #922bff 0%,#922bff 34%,#8124fe 59%,#7f20fe 66%,#771dff 72%,#6213ff 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #922bff 0%,#922bff 34%,#8124fe 59%,#7f20fe 66%,#771dff 72%,#6213ff 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #922bff 0%,#922bff 34%,#8124fe 59%,#7f20fe 66%,#771dff 72%,#6213ff 100%); /* IE10+ */
background: linear-gradient(to bottom, #922bff 0%,#922bff 34%,#8124fe 59%,#7f20fe 66%,#771dff 72%,#6213ff 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#922bff', endColorstr='#6213ff',GradientType=0 ); /* IE6-9 */
}

.pink {
background: #f500fe; /* Old browsers */
background: -moz-linear-gradient(top, #f500fe 0%, #f500fe 38%, #ef00f9 50%, #e500f2 59%, #d900e6 69%, #ba00cb 88%, #b200c4 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f500fe), color-stop(38%,#f500fe), color-stop(50%,#ef00f9), color-stop(59%,#e500f2), color-stop(69%,#d900e6), color-stop(88%,#ba00cb), color-stop(100%,#b200c4)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #f500fe 0%,#f500fe 38%,#ef00f9 50%,#e500f2 59%,#d900e6 69%,#ba00cb 88%,#b200c4 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #f500fe 0%,#f500fe 38%,#ef00f9 50%,#e500f2 59%,#d900e6 69%,#ba00cb 88%,#b200c4 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #f500fe 0%,#f500fe 38%,#ef00f9 50%,#e500f2 59%,#d900e6 69%,#ba00cb 88%,#b200c4 100%); /* IE10+ */
background: linear-gradient(to bottom, #f500fe 0%,#f500fe 38%,#ef00f9 50%,#e500f2 59%,#d900e6 69%,#ba00cb 88%,#b200c4 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f500fe', endColorstr='#b200c4',GradientType=0 ); /* IE6-9 */
}


.login {
    background-color:#bddc36;
    padding:5px 0px;

    text-align:center;
}
.login a {
    position:relative;
    display:block;
    color:#232d08;
    line-height:1.5em;
    text-decoration:none;
}

.search, .lang {
    padding-top:35px;
}
.search {

    text-align:right;
}
.search input {
    width:92%;
    padding:4px 4%;
    margin-right:-15px;

}
.search a {
    left:-5px;
    top:-4px;
    position:relative;
}

.lang {
    text-align:center;
}
.lang a {
    padding:5px 10px;
    font-size:0.8em;
}

.topmenu {
    text-align:center;
    margin:6px 0px;
}
.topmenu li{
    width:122px;
    text-align:center;
    display:inline;
    padding:5px 10px;
    margin:2px;
    border-top-right-radius:3px;
    border-top-left-radius:3px;

    color:white;
    font-weight:bold;
}

.topmenu .toggle{
    display:none;
    color:white;
    font-weight:bold;
    background: #e00000; /* Old browsers */
    background: -moz-linear-gradient(top, #e00000 0%, #e00001 37%, #db0100 53%, #c20001 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e00000), color-stop(37%,#e00001), color-stop(53%,#db0100), color-stop(100%,#c20001)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #e00000 0%,#e00001 37%,#db0100 53%,#c20001 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #e00000 0%,#e00001 37%,#db0100 53%,#c20001 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #e00000 0%,#e00001 37%,#db0100 53%,#c20001 100%); /* IE10+ */
    background: linear-gradient(to bottom, #e00000 0%,#e00001 37%,#db0100 53%,#c20001 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e00000', endColorstr='#c20001',GradientType=0 ); /* IE6-9 */
}
.topmenu a {
    color:white;
}
.topmenu .toggle a {

    display:block;
    background:url("../../Images/Template/menuicon.png");
    background-repeat:no-repeat;
    background-position:right;
}
.hero .pagetitle{
    background-color:rgba(255,0,0,0.8);
    margin-top:-60px;
    padding:5px 20px;
    position:relative;

}
.hero .pagetitle h1 {
    text-align:right;
    color:white;
    font-size:24px;
    font-weight:normal;
    line-height:36px;
}

.main {
    margin-top:20px;
}

.main h2 {
    font-size:24px;
    font-weight:normal;
    line-height:36px;
    margin-bottom:20px;

}

.main p {
    text-align:justify;
    font-size:16px;
    word-spacing:3px;
    line-height:24px;
}






ul.navigation {
    background: #d6d6d6; /* Old browsers */
    background: -moz-linear-gradient(top, #d6d6d6 0%, #d8d8d8 0%, #dadada 11%, #e2e2e2 30%, #e8e8e8 41%, #eaeaea 42%, #eaeaea 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d6d6d6), color-stop(0%,#d8d8d8), color-stop(11%,#dadada), color-stop(30%,#e2e2e2), color-stop(41%,#e8e8e8), color-stop(42%,#eaeaea), color-stop(100%,#eaeaea)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #d6d6d6 0%,#d8d8d8 0%,#dadada 11%,#e2e2e2 30%,#e8e8e8 41%,#eaeaea 42%,#eaeaea 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #d6d6d6 0%,#d8d8d8 0%,#dadada 11%,#e2e2e2 30%,#e8e8e8 41%,#eaeaea 42%,#eaeaea 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #d6d6d6 0%,#d8d8d8 0%,#dadada 11%,#e2e2e2 30%,#e8e8e8 41%,#eaeaea 42%,#eaeaea 100%); /* IE10+ */
    background: linear-gradient(to bottom, #d6d6d6 0%,#d8d8d8 0%,#dadada 11%,#e2e2e2 30%,#e8e8e8 41%,#eaeaea 42%,#eaeaea 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6d6d6', endColorstr='#eaeaea',GradientType=0 ); /* IE6-9 */


    list-style:none;
    margin:0px;
}

li.section {
    width: 15.5%;
    margin: 0px;
    display:inline-block;
    zoom:1;
    padding: 2%;
    color:#5c5c5c;
}
li.section h3{
    font-size: 22px;
    line-height: 28px;
    margin: 10px;
    font-weight: normal;
    color:#444;
}
li 
{
    font-size:11px;
    line-height:14px;
}
ul.menu ul {
    list-style:none;
    padding:0px;
    margin:0 0 0px 14px;
}
ul.menu ul li:before{

    content:"-";

}

ul.menu {
    list-style: none;
    margin-left: 10px;

}



ul.associates {

    margin:0px;
    text-align:center;

}


ul.associates li {
    display: inline-block;
    margin: 0px;
    padding: 0px;
    max-width: 94px;
}





@media (min-width: 1200px){

    .topmenu li {

        font-size:14px;
        padding:5px 15px;

    }
    ul.associates li {
        max-width: 130px;
    }

}


@media (max-width: 979px) and (min-width: 768px){
    .topmenu li {
        padding: 5px 5px;
        font-size:11px;
    }
    li.section {
        width: 26%;
        padding: 20px 3%;
    }
    ul.associates li {
        max-width: 130px;
    }
}



@media (max-width: 767px){
    .login a{
        position:relative;
        display:block;
    }
    .logo {
        text-align:center;
    }
    .search, .lang {
        text-align:center;
        padding:0px;
    }
    .topmenu {
        width:100%;
        margin-left:0px;
    }
    .topmenu li {
        display:none;
        width:auto;
    }
    .topmenu .toggle{
        display:block;
        float:none;
    }
    .hero .pagetitle {
        background-color: rgba(255, 0, 0, 0.8);
        margin-top: -46px;
        padding: 2px 20px;
        position: relative;
    }
    .hero .pagetitle h1 {
        font-size:18px;
        line-height:24px;
    }
    .main p {
        text-align:justify;
        font-size:12px;
        word-spacing:3px;
        line-height:18px;
    }
    li.section {
        width:92%;
        margin:0px 4%
        padding:0px;

    }
    li.section .menu {
        display:none;
    }
    li.section h3 {
        background-image: url("../../Images/Template/arrow_right.png");
        background-repeat:no-repeat;
        background-position:right;
        line-height:28px;
        font-size:18px;
        margin:0px 10px;
        border-bottom:1px dotted lightgray;
    }
    li.section h3.open{
        background-image: url("../../Images/Template/arrow_down.png");
    }
    li.section .menu.open {
        display:block;

    }
    li.section li {

        font-size:14px;
        line-height:24px;

    }

}
